* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden;
}
:root {
    --sidenav-background-color: rgb(42, 57, 65);
    --main-container-background-color: rgba(254, 254, 254);
    --universal-box-shadow-color: rgb(210, 212, 213);
    --content-container-background-color: rgb(241, 245, 246);
    --content-container-max-height: 93.5vh;
    --content-container-max-width: 88vw;
}
.content-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        'chart chart side-stat'
        'chart chart side-stat'
        'content content content';
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.content-panel {
    --content-panel-box-shadow: 0 0 5px 2px var(--universal-box-shadow-color);
    background-color: var(--content-container-background-color);
    border-radius: 25px;
    box-shadow: var(--content-panel-box-shadow);
}
header {
    grid-area: header;
    margin-bottom: 1.5vh;
}
.headline-item {
    list-style: none;
}
#main-container {
    --main-container-column-sizing: 12vw 78vw 10vw;
    --main-container-row-sizing: 6.5vh auto auto;

    display: grid;
    grid-template-areas: 
        'left header header'
        'left main main'
        'left main main';
    grid-template-columns: var(--main-container-column-sizing);
    grid-template-rows: var(--main-container-row-sizing);

    min-height: 100vh;
    width: 100%;
    background-color: var(--main-container-background-color);
}
.sidenav {
    --sidenav-box-shadow: 0 1px 0 5px rgb(232, 232, 232);

    grid-area: left;
    background-color: var(--sidenav-background-color);
    box-shadow: var(--sidenav-box-shadow);
    margin-right: .5vw;
}
.spending-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: chart;
    max-height: calc((2*var(--content-container-max-height))/3);
    max-width: calc((2*var(--content-container-max-width))/3);
    padding: 0 1.5%;
}
#spending-graph {
    min-width: 0;
}
.stat-headline {
    --stat-headline-box-shadow: 0 0 5px 5px var(--universal-box-shadow-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    box-shadow: var(--stat-headline-box-shadow);
}