* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden;
}
:root {
    --header-stat-background-color: rgb(230, 240, 238);
    --sidenav-background-color: rgb(42, 57, 65);
    --sidenav-item-text-color: rgb(236, 255, 254);
    --sidenav-item-text-size: .9vw;
    --main-container-background-color: rgba(254, 254, 254);
    --universal-box-shadow-color: rgb(210, 212, 213);
    --content-container-background-color: rgb(241, 245, 246);
    --main-container-col-1: 12vw;
    --main-container-col-2: 78vw;
    --main-container-col-3: 10vw;
    --main-container-row-1: 6.5vh;
    --main-container-row-2: auto;
    --main-container-row-3: auto;
    --content-container-max-height: calc(100vh - var(var(--main-container-row-1)));
    --content-container-max-width: calc(var(--main-container-col-2) + var(--main-container-col-3));
}
.content-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        'chart chart side-stat'
        'chart chart side-stat'
        'content content content';
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 33%));
    width: var(--content-container-max-width);
    height: var(--content-container-max-height);
}
.content-panel {
    --content-panel-box-shadow: 0 0 5px 2px var(--universal-box-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--content-container-background-color);
    border-radius: 25px;
    box-shadow: var(--content-panel-box-shadow);
    margin: 1em;
    
    padding: .5em;
    & h1 {
        font-size: clamp(1em, 3vw ,1.2em);
        letter-spacing: 1px;
        font-weight: normal;
        text-align: center;
    }
}
header {
    grid-area: header;
    width: 100%;
    margin-bottom: 1.5vh;
}
.headline-item {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    list-style: none;
}
.headline-stat {
    background-color: var(--header-stat-background-color);
    text-align: right;
    border-radius: 20px;
    padding: 0 0.5em;
    letter-spacing: 1px;
    width: 50%;
}
#main-container {
    --main-container-column-sizing: var(--main-container-col-1)
                                    var(--main-container-col-2)
                                    var(--main-container-col-3);
    --main-container-row-sizing: var(--main-container-row-1)
                                 var(--main-container-row-2)
                                 var(--main-container-row-3);
    display: grid;
    grid-template-areas: 
        'left header header'
        'left main main'
        'left main main';
    grid-template-columns: var(--main-container-column-sizing);
    grid-template-rows: var(--main-container-row-sizing);

    min-height: 100vh;
    width: 100%;
    background-color: var(--main-container-background-color);
}
.sidenav-container {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--sidenav-background-color);
    margin-right: .5vw;
}
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 80%;
}
.sidenav-item {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: clamp(.5em, var(--sidenav-item-text-size), 5em);
    & a {
        text-decoration: none;
        color: var(--sidenav-item-text-color);
    }
    &:hover {
        cursor: pointer;
        background-color: var(--main-container-background-color);
        & > a {
            color: var(--sidenav-background-color);
        }
    }
}
.spending-category {
    grid-area: side-stat;
}
#spending-category-graph {
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 1em;
}
.overall-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: chart;
    padding: 0 1.5%;
}
#spending-graph {
    width: auto;
    height: 100%;
    min-width: 0;
}
.stat-headline {
    --stat-headline-box-shadow: 0 0 5px 5px var(--universal-box-shadow-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    box-shadow: var(--stat-headline-box-shadow);
}