<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Money Managing Tool</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="main-container">
        <header>
            <ul class="stat-headline">
                <li class="headline-item">Earnings:
                    <span class="headline-stat">{{ header_data.earnings }}</span>
                </li>
                <li class="headline-item">Spending:
                    <span class="headline-stat">{{ header_data.spendings }}</span>
                </li>
                <li class="headline-item">Δ Delta:
                    <span class="headline-stat" style="color: {{'#09cf0c' if header_data.delta >= 0 else '#ce6542'}}">
                        {{ header_data.delta }}
                    </span>
                </li>
                <li class="headline-item">Utilization %:
                    <span class="headline-stat" style="color: {{'#09cf0c' if header_data.utilization < header_data.utilization_threshold else '#ce6542'}}">
                        {{ header_data.utilization }}%
                    </span>
                </li>
            </ul>
        </header>
        <nav class="sidenav-container">
            <ul class="sidenav">
                <li class="sidenav-item">
                    <a href="/">
                        Home
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/transaction_history">
                        Transaction Logs
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/new_transaction">
                        New Transaction
                    </a>
                </li>
                <li class="sidenav-item">
                    <a href="/new_earnings">
                        New Earnings
                    </a>
                </li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </div>
    {% block scripts %}
    {% endblock %}
</body>
</html>