{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Money Managing Tool</title>
{% endblock%}
{% block body %}
    <div id="main-container">
        <header>
            <ul class="stat-headline">
                <li class="headline-item">Earnings: </li>
                <li class="headline-item">Spending: </li>
                <li class="headline-item">Δ Delta: </li>
                <li class="headline-item">Utilization %: </li>
            </ul>
        </header>
        <nav class="sidenav">
        </nav>
        <main class="content-container">
            
        </main>
    </div>
{% endblock %}