{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/log.css">
{% endblock %}
{% block body %}
<div class="content-panel" id="transaction-history-container">
    <table id="transaction-table">
        <tr class="transaction-table-header">
            <th>Date</th>
            <th>Transaction</th>
            <th>Transaction Type</th>
            <th>Amount</th>
        </tr>
        {% for transaction in transaction_logs %}
        <tr class="transaction-log">
            <td class="transaction-cell">{{ transaction.date }}</td>
            <td class="transaction-cell">{{ transaction.name }}</td>
            <td class="transaction-cell">{{ transaction.category }}</td>
            <td class="transaction-cell" style="color: {{'#09cf0c' if transaction.category == 'EARNING' else '#c04401'}}">
                <span class="sign">{{ '+' if transaction.category == 'EARNING' else '-' }}</span>{{ transaction.amount }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}